<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 >profile</h1>
    {% if rows %}
        {% for x in rows %}
    <!--        <span>{{key}}</span>-->
            <span>{{x}}</span>
    <!--        <a href="/edit?nid={{key}}">edit</a>-->
            <a href="/create/{{id}}">post</a>
            <a href="/update/{{x[4]}}">update</a>
        {% endfor %}
    {% else %}
        <a href="/create/{{id}}">post</a>
    {% endif %}
    {% if wishRows %}
        {% for x in wishRows %}
    <!--        <span>{{key}}</span>-->
            <span>{{x}}</span>
    <!--        <a href="/edit?nid={{key}}">edit</a>-->
        {% endfor %}
    {% endif %}
<a href="/index">main page</a>

</body>
</html>