<!DOCTYPE html>
<html lang="en">


{% block header %}
  <h1>{% block title %}Edit "{{ post[2] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}

<body>
    <h1>post</h1>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
    {% if filename %}
        <div>
            <img src="{{ url_for('static', filename='uploads/' + filename) }}" width="500" height="600">
        </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="title" value ={{post[2]}}>
        <input type="file" name="file" class="form-control" autocomplete="off">
        <input type="text" name="description"  placeholder="description" value ={{post[3]}}>
        <input type="text" name="price"  placeholder="price" value ={{post[5]}}>
        <input type="text" name="category"  placeholder="category" value ={{post[6]}}>
        <input type="text" name="number"  placeholder="number" value ={{post[7]}}>
        <input type="text" name="wantorsell"  placeholder="wantorsell" value ={{post[8]}}>
        <input type="submit" value="submit">
        <span style="color:red">{{error}}</span>
        <a href="/index">index page</a>
    </form>
</body>
{% endblock %}

</html>