<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <h1>main page</h1>


      {% for x in rows %}
<!--        <span>{{key}}</span>-->
        <span>{{x}}</span>
<!--        <a href="/edit?nid={{key}}">edit</a>-->
        <a href="/display/{{x[4]}}">check the item</a>

      {% endfor %}
      <a href="/register">register</a>
        <a href="/login">login</a>
      <a href="/logout">log out</a>
<a href="/profile/{{session['user_id']}}">profile</a>

</body>
</html>