<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=2229, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="dashboard" />
    <div class="dashboard screen">
      <img class="rectangle-10-aYWuA2" src="../../static/img/rectangle-10.png" />
      <div class="wishlist-aYWuA2">Wishlist</div>
      <div class="your-items-aYWuA2">Your items</div>
      <div class="group-4-aYWuA2">
        <div class="item-O1EgMW poppins-normal-star-dust-48px">Item</div>
        <div class="date-O1EgMW poppins-normal-star-dust-48px">Date</div>
        <div class="price-O1EgMW poppins-normal-star-dust-48px">Price</div>
        <div class="seller-O1EgMW poppins-normal-star-dust-48px">Seller</div>
        <img class="line-5-O1EgMW" src="../../static/img/line-5.png" />
        <img class="line-4-O1EgMW" src="../../static/img/line-4.png" />
        <div class="x12817-O1EgMW poppins-normal-star-dust-48px">1/28/17</div>
        <div class="x95-O1EgMW poppins-normal-star-dust-48px">$95</div>
        <div class="albert-flores-O1EgMW poppins-normal-star-dust-48px">Albert Flores</div>
        <div class="x307-555-0133-O1EgMW poppins-normal-star-dust-48px">(307) 555-0133</div>
        <div class="phone-number-O1EgMW poppins-normal-star-dust-48px">Phone Number</div>
        <div class="x12817-SS62L7 poppins-normal-star-dust-48px">1/28/17</div>
        <div class="albert-flores-SS62L7 poppins-normal-star-dust-48px">Albert Flores</div>
        <div class="x307-555-0133-SS62L7 poppins-normal-star-dust-48px">(307) 555-0133</div>
        <div class="bambi-O1EgMW poppins-normal-star-dust-48px">Bambi</div>
        <div class="x81517-O1EgMW poppins-normal-star-dust-48px">8/15/17</div>
        <div class="x2885-O1EgMW poppins-normal-star-dust-48px">$28.85</div>
        <div class="guy-hawkins-O1EgMW poppins-normal-star-dust-48px">Guy Hawkins</div>
        <div class="x671-555-0110-O1EgMW poppins-normal-star-dust-48px">(671) 555-0110</div>
        <div class="periodic-table-O1EgMW poppins-normal-star-dust-48px">Periodic Table</div>
        <div class="siddhartha-O1EgMW poppins-normal-star-dust-48px">Siddhartha</div>
        <div class="x102812-O1EgMW poppins-normal-star-dust-48px">10/28/12</div>
        <div class="x7958-O1EgMW poppins-normal-star-dust-48px">$79.58</div>
        <div class="ralph-edwards-O1EgMW poppins-normal-star-dust-48px">Ralph Edwards</div>
        <div class="x302-555-0107-O1EgMW poppins-normal-star-dust-48px">(302) 555-0107</div>
        <img class="line-4-SS62L7" src="../../static/img/line-4.png" />
      </div>
      <div class="group-5-aYWuA2">
        <div class="item-7WaHGN poppins-normal-star-dust-48px">Item</div>
        <div class="price-7WaHGN poppins-normal-star-dust-48px">Price</div>
        <div class="edit-7WaHGN poppins-normal-star-dust-48px">Edit</div>
        <img class="line-5-7WaHGN" src="../../static/img/line-5.png" />
        <img class="line-4-7WaHGN" src="../../static/img/line-4.png" />
        <div class="x95-7WaHGN poppins-normal-star-dust-48px">$95</div>
        <div class="edit-30Wch3 poppins-normal-star-dust-48px">Edit</div>
        <div class="delete-7WaHGN poppins-normal-star-dust-48px">Delete</div>
        <div class="delete-30Wch3 poppins-normal-star-dust-48px">Delete</div>
        <div class="bambi-7WaHGN poppins-normal-star-dust-48px">Bambi</div>
        <div class="x2885-7WaHGN poppins-normal-star-dust-48px">$28.85</div>
        <div class="edit-3Pc50P poppins-normal-star-dust-48px">Edit</div>
        <div class="delete-3Pc50P poppins-normal-star-dust-48px">Delete</div>
        <div class="periodic-table-7WaHGN poppins-normal-star-dust-48px">Periodic Table</div>
        <div class="siddhartha-7WaHGN poppins-normal-star-dust-48px">Siddhartha</div>
        <div class="x7958-7WaHGN poppins-normal-star-dust-48px">$79.58</div>
        <div class="edit-tCKxin poppins-normal-star-dust-48px">Edit</div>
        <div class="delete-tCKxin poppins-normal-star-dust-48px">Delete</div>
        <img class="line-4-30Wch3" src="../../static/img/line-4.png" />
      </div>
      <div class="hi-sarah-aYWuA2">Hi, Sarah</div>
      <div class="logo-aYWuA2">
        <div class="ellipse-1-lvN43b border-4px-moonstone"></div>
        <div class="ellipse-2-lvN43b border-4px-moonstone"></div>
        <img class="ellipse-3-lvN43b" src="../../static/img/ellipse-3@2x.png" />
      </div>
      <div class="loginbttn-aYWuA2">
        <img class="rectangle-9-XqM7kl" src="../../static/img/rectangle-9@1x.png" />
        <div class="back-to-main-screen-XqM7kl">Back to main screen</div>
      </div>
    </div>
  </body>
</html>
