<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=2233, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="main" />
    <div class="main screen">
      <img class="rectangle-348-aygV59" src="../../static/img/rectangle-348.png" />
      <div class="circulation-aygV59 poppins-bold-gravel-60px">circulation</div>
      <div class="logo-aygV59">
        <div class="logo-ICgWqU">
          <div class="ellipse-1-babyfB border-4px-moonstone"></div>
          <div class="ellipse-2-babyfB border-4px-moonstone"></div>
          <img class="ellipse-3-babyfB" src="../../static/img/ellipse-3@2x.png" />
        </div>
      </div>
      <img class="image-1-aygV59" src="../../static/img/image-1@2x.png" />
      <img class="image-2-aygV59" src="../../static/img/image-2@2x.png" />
      <img class="image-3-aygV59" src="../../static/img/image-3@2x.png" />
      <img class="image-4-aygV59" src="../../static/img/image-4@2x.png" />
      <img class="image-5-aygV59" src="../../static/img/image-5@2x.png" />
      <div class="apple-i-pad-pro-5th-1000-aygV59 roboto-normal-black-28px">Apple iPad Pro 5th<br />$1,000</div>
      <img class="image-6-aygV59" src="../../static/img/image-6@2x.png" />
      <div class="miscrosoft-surf-1900-aygV59 roboto-normal-black-28px">Miscrosoft Surf...<br />$1,900</div>
      <div class="windows-comp-255-aygV59 roboto-normal-black-28px">Windows Comp..<br />$255</div>
      <div class="zotac-amp-h-1650-aygV59 roboto-normal-black-28px">ZOTAC AMP H...<br />$1,650</div>
      <div class="play-station-5-395-aygV59 roboto-normal-black-28px">PlayStation 5<br />$395</div>
      <div class="christian-dior-l-120-aygV59 roboto-normal-black-28px">Christian Dior L...<br />$120</div>
      <div class="rec-header-aygV59">
        <div class="items-we-have-vKDyuh">Items we have</div>
        <img class="line-6-vKDyuh" src="../../static/img/line-6@2x.png" />
      </div>
      <div class="recent-views-aygV59"><img class="line-7-hJNntp" src="../../static/img/line-7@1x.png" /></div>
      <div class="account-aygV59">
        <div class="your-profile-1dfZW0 roboto-normal-black-30px">Your Profile</div>
        <img class="align-justify-1dfZW0" src="../../static/img/align-justify@2x.png" />
      </div>
      <div class="item-aygV59 poppins-normal-star-dust-48px">Item</div>
    </div>
  </body>
</html>
