<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=2233, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/post.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="post" />
    <div class="post screen">
      <div class="circulation-YC1tyH poppins-bold-gravel-60px">circulation</div>
      <div class="logo-YC1tyH">
        <div class="logo-e5Ms6k">
          <div class="ellipse-1-zRS9ew border-4px-moonstone"></div>
          <div class="ellipse-2-zRS9ew border-4px-moonstone"></div>
          <img class="ellipse-3-zRS9ew" src="img/ellipse-3@2x.png" />
        </div>
      </div>
      <div class="account-YC1tyH">
        <div class="your-profile-goGfxP roboto-normal-black-30px">Your Profile</div>
        <img class="align-justify-goGfxP" src="img/align-justify@2x.png" />
      </div>
      <div class="group-2-YC1tyH">
        <div class="chat-eGDxhG">
          <img class="rectangle-9-N9QMxy" src="img/rectangle-9@2x.png" />
          <div class="title-N9QMxy poppins-bold-white-30px">Title</div>
        </div>
      </div>
      <div class="group-3-YC1tyH">
        <div class="chat-hyr4JU">
          <img class="rectangle-9-LQzzjL" src="img/rectangle-9@2x.png" />
          <div class="price-LQzzjL poppins-bold-white-30px">Price$</div>
        </div>
        <div class="chat-0KcF3F">
          <img class="rectangle-9-7Wz18a" src="img/rectangle-9@2x.png" />
          <div class="number-7Wz18a poppins-bold-white-30px">Number</div>
        </div>
        <div class="chat-jHqLaV">
          <img class="rectangle-9-rDO25g" src="img/rectangle-9@2x.png" />
          <div class="category-rDO25g poppins-bold-white-30px">Category</div>
        </div>
        <div class="chat-G8dzOp">
          <img class="rectangle-9-scwQXd" src="img/rectangle-9-4@2x.png" />
          <div class="submit-scwQXd">Submit</div>
        </div>
        <div class="chat-RYiT2x">
          <img class="rectangle-9-OxNyC9" src="img/rectangle-9@2x.png" />
          <div class="want-or-sell-OxNyC9 poppins-bold-white-30px">Want or Sell</div>
        </div>
      </div>
      <div class="whishlist-YC1tyH">
        <img class="rectangle-9-SpKLFq" src="img/rectangle-9-6@2x.png" />
        <div class="upload-photooptional-SpKLFq poppins-bold-white-30px">Upload Photo(optional)</div>
      </div>
      <div class="information_wrapper-YC1tyH">
        <textarea
          class="write-you-description-here-eWvExP"
          name="writeyoudescriptionhere"
          placeholder="write you description here"
          type="text"
          required
        ></textarea>
        <div class="chat-eWvExP">
          <img class="rectangle-9-qiNOFG" src="img/rectangle-9@2x.png" />
          <div class="description-qiNOFG poppins-bold-white-30px">Description</div>
        </div>
        <img class="line-8-eWvExP" src="img/line-8@1x.png" />
      </div>
      <img class="line-9-YC1tyH" src="img/line-8@1x.png" />
      <img class="line-3-YC1tyH" src="img/line-3@1x.png" />
      <img class="line-4-YC1tyH" src="img/line-4@2x.png" />
      <img class="line-6-YC1tyH" src="img/line-4@2x.png" />
      <img class="line-5-YC1tyH" src="img/line-4@2x.png" />
      <img class="line-7-YC1tyH" src="img/line-4@2x.png" />
      <img class="undraw_photograph_re_up3b-1-YC1tyH" src="img/undraw-photograph-re-up3b-1@1x.png" />
      <img class="rectangle-10-YC1tyH" src="img/rectangle-10.png" />
      <input
        class="input-the-title-YC1tyH poppins-normal-black-20px"
        name="inputthetitle"
        placeholder="input the title"
        type="text"
        required
      /><input
        class="input-the-price-YC1tyH poppins-normal-black-20px"
        name="inputtheprice"
        placeholder="input the price"
        type="text"
        required
      /><input
        class="sell-or-want-YC1tyH poppins-normal-black-20px"
        name="sellorwant"
        placeholder="Sell or Want"
        type="text"
      /><input
        class="input-the-number-YC1tyH poppins-normal-black-20px"
        name="inputthenumber"
        placeholder="input the number"
        type="text"
        required
      /><input
        class="input-the-category-YC1tyH poppins-normal-black-20px"
        name="inputthecategory"
        placeholder="input the category"
        type="text"
      />
    </div>
  </body>
</html>
