<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=2233, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/product.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="product" />
    <form class="product screen" name="form1" action="form1" method="post">
      <img class="rectangle-348-xxEPoA" src="img/rectangle-348.png" />
      <div class="circulation-xxEPoA poppins-bold-gravel-60px">circulation</div>
      <div class="logo-xxEPoA">
        <div class="logo-lxjLxJ">
          <div class="ellipse-1-IWR4TP border-4px-moonstone"></div>
          <div class="ellipse-2-IWR4TP border-4px-moonstone"></div>
          <img class="ellipse-3-IWR4TP" src="img/ellipse-3@2x.png" />
        </div>
      </div>
      <div class="recent-views-xxEPoA"><img class="line-7-fG3Npa" src="img/line-7@1x.png" /></div>
      <div class="account-xxEPoA">
        <div class="your-profile-QN0s2C roboto-normal-black-30px">Your Profile</div>
        <img class="align-justify-QN0s2C" src="img/align-justify@2x.png" />
      </div>
      <div class="item_view-xxEPoA">
        <img class="s-l640-1-Kka4zD" src="img/s-l640-1@2x.png" />
        <div class="slider_left-Kka4zD"></div>
        <div class="slider_right-Kka4zD"></div>
        <img class="next-Kka4zD" src="img/next@2x.png" />
        <img class="prev-Kka4zD" src="img/prev@2x.png" />
      </div>
      <div class="item_preview-xxEPoA">
        <div class="frame-2-ZpxOtR"><img class="preview1-134Lui" src="img/preview1@2x.png" /></div>
        <div class="frame-1-ZpxOtR"><img class="preview2-7yQ05g" src="img/preview2@2x.png" /></div>
      </div>
      <div class="item_name-xxEPoA">Apple iPad Pro 5th</div>
      <div class="item_name-rHDz4u">$1,000</div>
      <div class="whishlist-xxEPoA">
        <img class="rectangle-9-RWpxIl" src="img/rectangle-9-1@2x.png" />
        <a href="javascript:SubmitForm('form1')"
          ><div class="add-to-wishlist-RWpxIl poppins-bold-white-30px">Add to Wishlist</div> </a
        ><img class="icon-heart-RWpxIl" src="img/vector@2x.png" />
      </div>
      <div class="information_wrapper-xxEPoA">
        <div class="description-dmlpKf poppins-bold-black-30px">Description</div>
        <img class="line-10-dmlpKf" src="img/line-10@2x.png" />
        <div class="x129-inch-i-pad-pro-5-dmlpKf">12.9 inch iPad Pro 5th Generation with 1 Terabyte storage</div>
      </div>
      <div class="seller_wrapper-xxEPoA">
        <div class="name-1AncCR poppins-bold-black-30px">Tom</div>
        <div class="location-1AncCR">6462364498</div>
        <div class="seller-1AncCR poppins-bold-black-30px">Seller</div>
        <img class="line-10-1AncCR" src="img/line-10-1@2x.png" />
      </div>
    </form>
    <script>
      /* Copyright (c) 2016 Tobias Buschor https://goo.gl/gl0mbf | MIT License https://goo.gl/HgajeK */

      if (!HTMLFormElement.prototype.reportValidity) {
        HTMLFormElement.prototype.reportValidity = function () {
          if (this.checkValidity()) return true;
          var btn = document.createElement("button");
          this.appendChild(btn);
          btn.click();
          this.removeChild(btn);
          return false;
        };
      }

      function SubmitForm(form_name) {
        var form = document.getElementsByName(form_name)[0];
        if (form.reportValidity()) {
          form.submit();
          if (window.submitted) window.submitted();
        }
      }
    </script>
  </body>
</html>
