<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=2233, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/sign-in.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="sign-in" />
    <div class="sign-in screen">
      <div class="rectangle-6-5xOTHh"></div>
      <div class="rectangle-7-5xOTHh"></div>
      <img class="forgot-password-1-5xOTHh" src="img/forgot-password-1@2x.png" />
      <div class="circulation-5xOTHh poppins-bold-gravel-60px">circulation</div>
      <img class="rectangle-8-5xOTHh" src="img/rectangle-8.png" />
      <div class="login-5xOTHh">Login</div>
      <div class="sign-up-5xOTHh">Sign up</div>
      <div class="loginbttn-5xOTHh">
        <img class="rectangle-9-YBtbWr" src="img/rectangle-9@1x.png" />
        <div class="sign-in-YBtbWr">Sign in</div>
      </div>
      <div class="sign-in-5xOTHh">SIGN IN</div>
      <div class="sigin-in-to-start-selling-items-5xOTHh">sigin in to start selling items!</div>
      <img class="line-1-5xOTHh" src="img/line-1@1x.png" />
      <img class="line-2-5xOTHh" src="img/line-2@1x.png" />
      <div class="logo-5xOTHh">
        <div class="ellipse-1-P4dCxW border-4px-moonstone"></div>
        <div class="ellipse-2-P4dCxW border-4px-moonstone"></div>
        <img class="ellipse-3-P4dCxW" src="img/ellipse-3@2x.png" />
      </div>
      <input
        class="youremailcolumbiacom-5xOTHh"
        name="youremailcolumbiacom"
        placeholder="youremail@columbia.com"
        type="email"
        required
      /><input class="password-5xOTHh" name="password" placeholder="Password" type="password" required />
      <div class="forgot-password-5xOTHh">Forgot Password?</div>
      <img class="x584856bce0bb315b0f7675ad-1-5xOTHh" src="img/584856bce0bb315b0f7675ad-1@2x.png" />
      <div class="ellipse-7-5xOTHh"></div>
      <div class="ellipse-8-5xOTHh"></div>
      <img class="undraw_web_shopping_re_owap-1-5xOTHh" src="img/undraw-web-shopping-re-owap-1@1x.png" />
    </div>
  </body>
</html>
