/* screen - post */

.post {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1012px;
  min-width: 2233px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.post .circulation-YC1tyH {
  background-color: transparent;
  height: auto;
  left: 180px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 91px;
  width: 366px;
}

.post .logo-YC1tyH {
  background-color: transparent;
  height: 86px;
  left: 64px;
  position: absolute;
  top: 91px;
  width: 97px;
}

.post .logo-e5Ms6k {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 97px;
}

.post .ellipse-1-zRS9ew {
  background-color: transparent;
  border-radius: 48.38px/42.89px;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97px;
}

.post .ellipse-2-zRS9ew {
  background-color: transparent;
  border-radius: 36.5px/28.86px;
  height: 58px;
  left: 24px;
  position: absolute;
  top: 19px;
  width: 73px;
}

.post .ellipse-3-zRS9ew {
  background-color: transparent;
  height: 34px;
  left: 41px;
  mix-blend-mode: normal;
  position: absolute;
  top: 31px;
  width: 44px;
}

.post .account-YC1tyH {
  background-color: transparent;
  height: 56px;
  left: 1946px;
  position: absolute;
  top: 109px;
  width: 241px;
}

.post .your-profile-goGfxP {
  -webkit-text-stroke: 1px var(--black);
  background-color: transparent;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5px;
  width: 170px;
}

.post .align-justify-goGfxP {
  background-color: transparent;
  height: 43px;
  left: 197px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 42px;
}

.post .group-2-YC1tyH {
  background-color: transparent;
  height: 87px;
  left: 856px;
  position: absolute;
  top: 215px;
  width: 214px;
}

.post .chat-eGDxhG {
  background-color: transparent;
  height: 87px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 216px;
}

.post .rectangle-9-N9QMxy {
  background-color: transparent;
  height: 127px;
  left: -20px;
  mix-blend-mode: normal;
  position: absolute;
  top: -16px;
  width: 254px;
}

.post .title-N9QMxy {
  background-color: transparent;
  height: auto;
  left: 77px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 4px #00000040;
  top: 18px;
  width: 108px;
}

.post .group-3-YC1tyH {
  background-color: transparent;
  height: 618px;
  left: 856px;
  position: absolute;
  top: 343px;
  width: 699px;
}

.post .chat-hyr4JU {
  background-color: transparent;
  height: 87px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 216px;
}

.post .rectangle-9-LQzzjL {
  background-color: transparent;
  height: 127px;
  left: -20px;
  mix-blend-mode: normal;
  position: absolute;
  top: -16px;
  width: 254px;
}

.post .price-LQzzjL {
  background-color: transparent;
  height: auto;
  left: 53px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 4px #00000040;
  top: 18px;
  width: 108px;
}

.post .chat-0KcF3F {
  background-color: transparent;
  height: 87px;
  left: 450px;
  position: absolute;
  top: 0px;
  width: 216px;
}

.post .rectangle-9-7Wz18a {
  background-color: transparent;
  height: 127px;
  left: -20px;
  mix-blend-mode: normal;
  position: absolute;
  top: -16px;
  width: 254px;
}

.post .number-7Wz18a {
  background-color: transparent;
  height: auto;
  left: 34px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 4px #00000040;
  top: 18px;
  width: 146px;
}

.post .chat-jHqLaV {
  background-color: transparent;
  height: 87px;
  left: 0px;
  position: absolute;
  top: 144px;
  width: 216px;
}

.post .rectangle-9-rDO25g {
  background-color: transparent;
  height: 127px;
  left: -20px;
  mix-blend-mode: normal;
  position: absolute;
  top: -16px;
  width: 254px;
}

.post .category-rDO25g {
  background-color: transparent;
  height: auto;
  left: 34px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 4px #00000040;
  top: 18px;
  width: 146px;
}

.post .chat-G8dzOp {
  background-color: transparent;
  height: 91px;
  left: 218px;
  position: absolute;
  top: 527px;
  width: 327px;
}

.post .rectangle-9-scwQXd {
  background-color: transparent;
  height: 131px;
  left: -20px;
  mix-blend-mode: normal;
  position: absolute;
  top: -16px;
  width: 365px;
}

.post .submit-scwQXd {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 75px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 4px #00000040;
  top: 11px;
  width: 222px;
}

.post .chat-RYiT2x {
  background-color: transparent;
  height: 87px;
  left: 450px;
  position: absolute;
  top: 144px;
  width: 251px;
}

.post .rectangle-9-OxNyC9 {
  background-color: transparent;
  height: 127px;
  left: -20px;
  mix-blend-mode: normal;
  position: absolute;
  top: -16px;
  width: 254px;
}

.post .want-or-sell-OxNyC9 {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 4px #00000040;
  top: 18px;
  width: 229px;
}

.post .whishlist-YC1tyH {
  background-color: transparent;
  height: 75px;
  left: 200px;
  position: absolute;
  top: 795px;
  width: 418px;
}

.post .rectangle-9-SpKLFq {
  background-color: transparent;
  height: 115px;
  left: -20px;
  mix-blend-mode: normal;
  position: absolute;
  top: -16px;
  width: 441px;
}

.post .upload-photooptional-SpKLFq {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 4px #00000040;
  top: 16px;
  width: 398px;
}

.post .information_wrapper-YC1tyH {
  background-color: transparent;
  height: 186px;
  left: 856px;
  overflow: hidden;
  position: absolute;
  top: 625px;
  width: 889px;
}

.post .write-you-description-here-eWvExP {
  background-color: transparent;
  border: 0;
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
  height: 73px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 113px;
  width: 567px;
}

.post .write-you-description-here-eWvExP::placeholder {
  color: #00000099;
}

.post .chat-eWvExP {
  background-color: transparent;
  height: 87px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 220px;
}

.post .rectangle-9-qiNOFG {
  background-color: transparent;
  height: 112px;
  left: -10px;
  mix-blend-mode: normal;
  position: absolute;
  top: -8px;
  width: 234px;
}

.post .description-qiNOFG {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 4px 4px #00000040;
  top: 18px;
  width: 203px;
}

.post .line-8-eWvExP {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 148px;
  width: 889px;
}

.post .line-9-YC1tyH {
  background-color: transparent;
  height: 1px;
  left: 861px;
  position: absolute;
  top: 832px;
  width: 889px;
}

.post .line-3-YC1tyH {
  background-color: transparent;
  height: 1px;
  left: 1105px;
  position: absolute;
  top: 294px;
  width: 616px;
}

.post .line-4-YC1tyH {
  background-color: transparent;
  height: 1px;
  left: 1105px;
  position: absolute;
  top: 430px;
  width: 168px;
}

.post .line-6-YC1tyH {
  background-color: transparent;
  height: 1px;
  left: 1105px;
  position: absolute;
  top: 560px;
  width: 168px;
}

.post .line-5-YC1tyH {
  background-color: transparent;
  height: 1px;
  left: 1553px;
  position: absolute;
  top: 430px;
  width: 168px;
}

.post .line-7-YC1tyH {
  background-color: transparent;
  height: 1px;
  left: 1553px;
  position: absolute;
  top: 560px;
  width: 168px;
}

.post .undraw_photograph_re_up3b-1-YC1tyH {
  background-color: transparent;
  height: 498px;
  left: 16px;
  mix-blend-mode: normal;
  position: absolute;
  top: 215px;
  width: 776px;
}

.post .rectangle-10-YC1tyH {
  background-color: transparent;
  bottom: 1px;
  height: 1014px;
  mix-blend-mode: normal;
  position: absolute;
  right: 0px;
  width: 363px;
}

.post .input-the-title-YC1tyH {
  background-color: transparent;
  border: 0;
  height: 49px;
  left: 1105px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 253px;
  width: 197px;
}

.post .input-the-title-YC1tyH::placeholder {
  color: #00000099;
}

.post .input-the-price-YC1tyH {
  background-color: transparent;
  border: 0;
  height: 49px;
  left: 1109px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 392px;
  width: 197px;
}

.post .input-the-price-YC1tyH::placeholder {
  color: #00000099;
}

.post .sell-or-want-YC1tyH {
  background-color: transparent;
  border: 0;
  height: 49px;
  left: 1553px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 519px;
  width: 197px;
}

.post .sell-or-want-YC1tyH::placeholder {
  color: #00000099;
}

.post .input-the-number-YC1tyH {
  background-color: transparent;
  border: 0;
  height: 49px;
  left: 1553px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 394px;
  width: 197px;
}

.post .input-the-number-YC1tyH::placeholder {
  color: #00000099;
}

.post .input-the-category-YC1tyH {
  background-color: transparent;
  border: 0;
  height: 49px;
  left: 1109px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 519px;
  width: 197px;
}

.post .input-the-category-YC1tyH::placeholder {
  color: #00000099;
}
