/* screen - main */

.main {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1006px;
  min-width: 2233px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.main .rectangle-348-aygV59 {
  background-color: transparent;
  height: 1006px;
  left: 1832px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 395px;
}

.main .circulation-aygV59 {
  background-color: transparent;
  height: auto;
  left: 180px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 91px;
  width: 366px;
}

.main .logo-aygV59 {
  background-color: transparent;
  height: 86px;
  left: 64px;
  position: absolute;
  top: 91px;
  width: 97px;
}

.main .logo-ICgWqU {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 97px;
}

.main .ellipse-1-babyfB {
  background-color: transparent;
  border-radius: 48.38px/42.89px;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97px;
}

.main .ellipse-2-babyfB {
  background-color: transparent;
  border-radius: 36.5px/28.86px;
  height: 58px;
  left: 24px;
  position: absolute;
  top: 19px;
  width: 73px;
}

.main .ellipse-3-babyfB {
  background-color: transparent;
  height: 34px;
  left: 41px;
  mix-blend-mode: normal;
  position: absolute;
  top: 31px;
  width: 44px;
}

.main .image-1-aygV59 {
  background-color: transparent;
  height: 235px;
  left: 288px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 210px;
}

.main .image-2-aygV59 {
  background-color: transparent;
  height: 235px;
  left: 624px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 210px;
}

.main .image-3-aygV59 {
  background-color: transparent;
  height: 235px;
  left: 960px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 210px;
}

.main .image-4-aygV59 {
  background-color: transparent;
  height: 235px;
  left: 1298px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 210px;
}

.main .image-5-aygV59 {
  background-color: transparent;
  height: 235px;
  left: 288px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 689px;
  width: 210px;
}

.main .apple-i-pad-pro-5th-1000-aygV59 {
  background-color: transparent;
  height: auto;
  left: 288px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 535px;
  width: auto;
}

.main .image-6-aygV59 {
  background-color: transparent;
  height: 235px;
  left: 615px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 689px;
  width: 210px;
}

.main .miscrosoft-surf-1900-aygV59 {
  background-color: transparent;
  height: auto;
  left: 624px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 535px;
  width: 239px;
}

.main .windows-comp-255-aygV59 {
  background-color: transparent;
  height: auto;
  left: 968px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 535px;
  width: auto;
}

.main .zotac-amp-h-1650-aygV59 {
  background-color: transparent;
  height: auto;
  left: 1298px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 535px;
  width: auto;
}

.main .play-station-5-395-aygV59 {
  background-color: transparent;
  height: auto;
  left: 288px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 950px;
  width: auto;
}

.main .christian-dior-l-120-aygV59 {
  background-color: transparent;
  height: auto;
  left: 629px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 950px;
  width: auto;
}

.main .rec-header-aygV59 {
  background-color: transparent;
  height: 68px;
  left: 180px;
  position: absolute;
  top: 191px;
  width: 404px;
}

.main .items-we-have-vKDyuh {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.main .line-6-vKDyuh {
  background-color: transparent;
  height: 5px;
  left: 0px;
  position: absolute;
  top: 66px;
  width: 402px;
}

.main .recent-views-aygV59 {
  background-color: transparent;
  height: 721px;
  left: 1863px;
  position: absolute;
  top: 229px;
  width: 1px;
}

.main .line-7-hJNntp {
  background-color: transparent;
  height: 721px;
  left: -2px;
  position: absolute;
  top: 0px;
  width: 3px;
}

.main .account-aygV59 {
  background-color: transparent;
  height: 56px;
  left: 1946px;
  position: absolute;
  top: 108px;
  width: 241px;
}

.main .your-profile-1dfZW0 {
  -webkit-text-stroke: 1px var(--black);
  background-color: transparent;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5px;
  width: 170px;
}

.main .align-justify-1dfZW0 {
  background-color: transparent;
  height: 43px;
  left: 197px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 42px;
}

.main .item-aygV59 {
  background-color: transparent;
  height: auto;
  left: 573px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 176px;
  width: 370px;
}
