:root { 
  --black: #000000;
  --chicago: #5e5e5e;
  --cornflower: #8bd4f33d;
  --gallery: #f1eeee;
  --gravel: #4a4a4a;
  --moonstone: #36a5d4;
  --picton-blue: #44aedb;
  --stack: #8c8c8c;
  --star-dust-2: #9f9f9f;
  --white: #ffffff;
 
  --font-size-l2: 36px;
  --font-size-m2: 26px;
  --font-size-s2: 24px;
  --font-size-xl2: 60px;
 
  --font-family-poppins: "Poppins", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.roboto-normal-picton-blue-24px {
  color: var(--picton-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s2);
  font-style: normal;
  font-weight: 400;
}

.poppins-bold-gravel-60px {
  color: var(--gravel);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl2);
  font-style: normal;
  font-weight: 700;
}

.poppins-bold-white-36px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 700;
}

.poppins-bold-chicago-36px {
  color: var(--chicago);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 700;
}

.poppins-bold-stack-26px {
  color: var(--stack);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 700;
}

.border-4px-moonstone {
  border: 4px solid var(--moonstone);
}
