<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=1716, maximum-scale=1.0" />
  <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
  <link rel="stylesheet" type="text/css" href="../../../static/register/sign-up.css" />
  <link rel="stylesheet" type="text/css" href="../../../static/register/styleguide.css" />
  <link rel="stylesheet" type="text/css" href="../../../static/register/globals.css" />
</head>

<body style="margin: 0; background: #ffffff">
  <input type="hidden" id="anPageName" name="page" value="sign-up" />
  <div class="container-center-horizontal">
    <div class="sign-up screen">
      <div class="overlap-group-container">
        <div class="overlap-group4">
          <h1 class="title poppins-bold-gravel-60px">circulation</h1>
          <div class="group-container">
            <div class="overlap-group3">
              <img class="rectangle-8" src="{{ url_for('static',filename='img/rectangle-8@1x.png') }}" />
              <div class="sign-up-1">Sign up</div>
              <div class="ellipse-7"></div>
              <div class="ellipse-8"></div>
              <img class="undraw_web_shopping_re_owap-1"
                src="https://anima-uploads.s3.amazonaws.com/projects/62311257e6399ba61c3806e3/releases/624895fc5a1f4749cec51f5d/img/undraw-web-shopping-re-owap-1@1x.png" />
            </div>
            <!-- <div class="overlap-group">
              <div class="place poppins-bold-white-36px">Register</div>
            </div> -->
            <form method="post">
              <div class="group-9">
                <div class="password-container">
                  <input class="password" name="pwd" placeholder="Password" type="password" required /><img
                    class="forgot-password-1"
                    src="https://anima-uploads.s3.amazonaws.com/projects/62311257e6399ba61c3806e3/releases/62461c9bc7c860d254f5cbfd/img/forgot-password-1@2x.png" />
                </div>
                <img class="line-2"
                  src="https://anima-uploads.s3.amazonaws.com/projects/62311257e6399ba61c3806e3/releases/62461c9bc7c860d254f5cbfd/img/line-2@1x.png" />
              </div>


              <div class="group-6">
                <div class="flex-row">

                  <input class="youremailcolumbiacom roboto-normal-picton-blue-24px" name="email"
                    placeholder="youremail@columbia.com" type="email" required /><img
                    class="x584856bce0bb315b0f7675ad-1"
                    src="https://anima-uploads.s3.amazonaws.com/projects/62311257e6399ba61c3806e3/releases/62461c9bc7c860d254f5cbfd/img/584856bce0bb315b0f7675ad-1@2x.png" />
                </div>
                <img class="line-1"
                  src="https://anima-uploads.s3.amazonaws.com/projects/62311257e6399ba61c3806e3/releases/62461c9bc7c860d254f5cbfd/img/line-1@1x.png" />
              </div>
              <div class="group-8">
                <input class="username roboto-normal-picton-blue-24px" name="username" placeholder="username"
                  type="text" required /><img class="line-1-1"
                  src="https://anima-uploads.s3.amazonaws.com/projects/62311257e6399ba61c3806e3/releases/62461c9bc7c860d254f5cbfd/img/line-1@1x.png" />
              </div>
              <div class="group-7">
                <input class="phone-number roboto-normal-picton-blue-24px" name="phone" placeholder="phonenumber"
                  type="text" required /><img class="line-1-2"
                  src="https://anima-uploads.s3.amazonaws.com/projects/62311257e6399ba61c3806e3/releases/62461c9bc7c860d254f5cbfd/img/line-1@1x.png" />
              </div>
              <div class="overlap-group">
                <!-- <div class="place poppins-bold-white-36px">Register</div> -->
                <input type="submit" class="place poppins-bold-white-36px" value="submit">
              </div>

            </form>
          </div>
          <div class="login">Login</div>
          <div class="logo">
            <div class="logo-1 border-4px-moonstone">
              <div class="overlap-group-1 border-4px-moonstone">
                <img class="ellipse-3"
                  src="https://anima-uploads.s3.amazonaws.com/projects/62311257e6399ba61c3806e3/releases/62461aa363229b9a6fe84f7c/img/ellipse-3@2x.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-group2">
          <div class="rectangle-6"></div>
          <div class="sign-in poppins-bold-chicago-36px">SIGN IN</div>
          <div class="sigin-in-to-start-selling-items poppins-bold-stack-26px">sigin in to start selling items!</div>
        </div>
      </div>
      <div class="logo-2 border-4px-moonstone">
        <div class="overlap-group1 border-4px-moonstone">
          <img class="ellipse-3-1"
            src="https://anima-uploads.s3.amazonaws.com/projects/62311257e6399ba61c3806e3/releases/62461aa363229b9a6fe84f7c/img/ellipse-3@2x.png" />
        </div>
      </div>
    </div>
  </div>
</body>

</html>